body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
button{
    all:unset;
    text-align: center;
}
#root{
    min-height: 100dvh;
}
.header{
    display: flex;
}
.header ul{
    display: flex;
    margin: 0;
}
.header h1{
    flex: 1;
    margin: 0;
    transition: all .2s ease-in-out;
}
.header h1:hover{
    background-color: #EEE;
}
.header ul{
    flex: 1;
    text-align:center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.header ul li{
    flex: 1;
    text-align: center;
}
.header ul li a,.header h1{
    display: grid;
    place-content: center;
}
.header ul li{
    transition: all .2s ease-in-out;
}
.header ul li:hover{
    background-color: #EEE;
}
.header ul li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    height: 100%;
}
.container{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-rows: 150px 1fr;
    position: relative;
}
.shop-container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    font-size: 20px;
    gap: 20px;
}
.shop-item{
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    gap: 10px;
    text-align: center;
}
.pokemon-shop{
    cursor: pointer;
    width: 250px;
    height: 250px;
}
.type{
    color: white;
    padding: 10px;
    width: 200px;
    margin: auto;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 10px;
    text-align: center;
}
.fire-flying{
    background: linear-gradient(to left, #6F8FAF 50%, orangered 50%);
}
.fire{
    background-color: orangered;
}
.grass-poison{
    background: linear-gradient(to left, purple 50%, green 50%);
}
.water{
    background-color: #4169E1;
}
.electric{
    background-color: yellow;
    color: black;
}
.poison{
    background-color: purple;
}
.ground-rock{
    background: linear-gradient(to left, #8B4513 50%, #331800 50%);
}
.buy-for{
    width: 200px;
    margin: auto;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}
.basket-pokemon-icon{
    width: 100px;
    height: 100px;
}
.shop-card-item{
    display: flex;
}
.shop-card-item > *{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-card-item:first-child{
    width: 20%;
}
.shop-card-item > .title{
    width: 50%;
    display: flex;
    font-size: 20px;  
}
.shop-card-item .img{
    width: 10%;
}
.shop-card-item > .title > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-card-item  .title .name{
    font-size: 30px;
    font-weight: 600;
}
.shop-card.item .price{
    width: 10%;
}
.shop-card-item .btn-remove{
    width: 15%;

}
.shop-type{
    width: 50%;
}
.quantity-buttons > *{
    display: block;
    height: 50%;
    margin: auto;
    padding: 0;
    background-color: white;
    flex: 1;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity-buttons button{
    font-weight: 900;
    cursor: pointer;
}
.quantity-buttons{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-remove button{
    background-color: red;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    color: white;
}
.price{
    font-size: 24px;
}
footer{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
}
footer > div{
    width: 30%;
}
footer button{
    font-size: 24px;
    text-align: center;
    background-color: #EEE;
    padding: 10px 40px;
    cursor: pointer;
}
.sum{
    font-size: 24px;
    font-weight: 600;
    width: 35%;
}
.sum-value{
    width: 10%;
}
.alert{
    position: fixed;
    left: 10px;
    bottom: 10px;
    padding: 20px 25px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    display: none;
    align-items: center;
    gap: 10px;
    animation: slide .5s forwards;
}
@keyframes slide {
    from {
      transform: translateX(-100%);
      display: block;
    }
    to {
      transform: translateX(0);
      display: block;
    }
  }
.checkmark{
    height: 22px;
}
.add{
    background-color: #32CD32;
}
.success{
    background-color: #4169E1;
}
.warning,.drop{
    background-color: #C24641;
}
.specific-shop-item{
    display: flex;
    gap: 30px;
    font-size: 24px;
}

.specific-shop-item > div{
    flex: 1;
    display: grid;
    gap: 10px;
}
.specific-shop-item > div > h3, .specific-shop-item > div > img{
    text-align: center;
}
.specific-shop-item > div.paragraph-container{
    place-content: center;
}
.specific-shop-item > div > h2.type{
    width: 80%;
}
.photo-container{
    display: grid;
    place-items: center;
}
.photo-desc{
    display: block;
    width: 400px;
}
.buy-info{
    display: flex;
    justify-content: center;
}
.buy-info > *{
    flex: 1;
}
.buy-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    border-collapse: collapse;
}
.buy-inputs button{
    width: 60%;
    margin: 0;
}
.buy-inputs input{
    width: 25%;
    height: 43px;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid black;
    outline: transparent;
}
.container-for-image-hovering{
    position: relative;
}
.container-for-image-hovering div{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    color: white;
    opacity: 0;
    pointer-events: none;
    display: grid;
    place-items: center;
    background-color: black;
    text-align: center;
    transition: opacity .2s ease-in-out;
}
.container-for-image-hovering > img:hover+div{
    opacity: 0.4;
}
input[type='number']{
    font-size: 25px;
    padding-left: 2%;
}
#header-link{
    all:unset;
    cursor: pointer;
}
.sum-value{
    font-size: 24px;
    width: 40px;
}
@media (max-width:1130px) {
    .container{
        width: 90%;
    }
}
@media (max-width:800px) {
    .container{
        width: 100%;
    }
}